* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --whiteMain: #ffffff;
  --blackMain: #000000;

  --text: #808184;

  --greyH: #dfe4e9;
  --greyM: #f0f1f4;
  --greyL: #f8f8fa;
}
.board {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: var(--greyM);
  overflow-x: scroll;
}
.board-list {
  width: fit-content;
  display: flex;
}
